
body {
    font-family: Arial, sans-serif;
    background-color: #fdf6e3;
    margin: 0;
    padding: 0;
}

.menu {
    background-color: blue;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    position: relative;
    display: inline-block;
}

.menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    transition: background 0.3s;
}

.menu ul li a:hover {
    background-color: blue;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    padding: 10px 20px;
}

.menu ul li:hover .dropdown {
    display: block;
}
